<div class="h-full w-auto flex flex-col p-4 md:p-12">
    <!-- <p style="font-family: 'gilroy_600';" class="mt-8 md:mt-0 text-2xl text-gray-600 animate__animated animate__fadeInLeft">404</p> -->
    <p style="font-family: 'gilroy_600';" class="mt-8 lg:mt-8 text-5xl text-gray-600 animate__animated animate__fadeInLeft">Página no encontrada</p>
    <p style="font-family: 'gilroy_300';" class="mt-4 text-lg text-gray-600 animate__animated animate__fadeInLeft">La página que estas buscando no existe o ha sido movida 😵</p>
    <img src="assets/img/404.svg" style="height: 600px; margin-top: 40px;" alt="">
</div>