<div class="flex">
    <div class="h-screen w-1/4 bg-gray-100 overflow-auto animate__animated animate__fadeInLeft" *ngIf="sidebarService.status | async">
        <app-sidebar></app-sidebar>
    </div>
    <div class="h-screen w-1/12 overflow-auto animate__animated animate__fadeInLeft" *ngIf="!(sidebarService.status | async)">
        <app-sidebar2></app-sidebar2>
    </div>
    <div class="h-screen overflow-auto p-12" [ngClass]="{'w-3/4': sidebarService.status | async, 'w-11/12': !(sidebarService.status | async) }">
        <router-outlet></router-outlet>
    </div>
</div>